################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LS_ATLAS_DB_PROJECT.jfm
